<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBLUcVVW7vps0l7ATqBgC8AO8aTipaP1H0</string>
	<key>GCM_SENDER_ID</key>
	<string>987112798700</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.manzilah.mobile</string>
	<key>PROJECT_ID</key>
	<string>manzilah-notifications</string>
	<key>STORAGE_BUCKET</key>
	<string>manzilah-notifications.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:987112798700:ios:6b1f623ed1d3dceeb1a8c9</string>
</dict>
</plist>